/* MODAL */

.modal-wrapper-show{
    width: 100vw;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;

    background-color: var(--blur);
    position: absolute;

    z-index: 5;
}

.modal-wrapper-hide{
    display: none;
}

.modal-container{
    width: 40%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    box-shadow: var(--shadow-modal);
    border-radius: var(--border-medium);
    background-color: var(--white);
}

.modal-header{
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;

    padding-right: 5px;
    border-radius: var(--border-medium) var(--border-medium) 0 0;
    border-bottom: 1px solid var(--gray-200);
}

.modal-header button{
    width: 22px;
    height: 22px;

    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: transparent;
    outline: hidden;
    cursor: pointer;
    
    border-radius: 100px;
    transition: all 0.1s;
}

.titulo-modal{
    display: flex;
    flex: 1;
    margin-top: 8px;

    display: flex;
    justify-content: center;
    text-align: center;
}

.modal-conteudo{
    width: 100%;
    height: 100%;

    padding: 32px 20px  20px 20px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 16px;
}




/* INPUT */

.container-input{
    width: 100%;
    height: 45px;
    position: relative;
    
    border-radius: var(--border-small);
    border: 1px solid var(--gray-200);
    background-color: var(--gray-100);

    display: flex;
    align-items: center;

    transition: all 1s;
}

.container-area{
    width: 100%;
    min-height: 45px;
    height: auto;
    position: relative;
    
    border-radius: var(--border-small);
    border: 1px solid var(--gray-200);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: all 1s;
}

.container-area label{
    height: 95%;
    width: 120px;
    
    position: absolute;
    left: 1px;
    top: 1px;

    border-radius: var(--border-small) 0 0 var(--border-small);
    padding-left: 5px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--gray-300);
    border-right: 1px solid var(--gray-200);
}

.container-input ion-icon{
    width: 24px;
    height: 24px;
    color:  var(--gray-200);

    position: absolute;
    right: 5px;
}

.container-input label{
    height: 95%;
    width: 120px;

    position: absolute;
    left: 1px;
    top: 1px;

    border-radius: var(--border-small) 0 0 var(--border-small);
    padding-left: 5px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 1px solid var(--gray-200);
    color: var(--gray-300);
}

.input-neutro{
    width: 100%;
    height: 45px;

    border-radius: var(--border-small);

    background-color: var(--gray-100);
    border: 1px solid var(--gray-200);

    padding-left: 130px;
    padding-right: 30px;
    font-size: medium;

    transition: all 1s;
}

.input-data{
    padding-right: 5px !important;
    cursor: pointer;
}

.input-neutro-file{
    border: none;
    margin-left: 140px;
}

.input-neutro:focus{
    border-color: var(--gray-300);
    box-shadow: var( --shadow-modal);
}


/* BUTTON */
.btn-default-dark:hover {
    background-color: #413e57;
}

.btn-neutro{
    width: auto;
    min-width: 130px;
    padding: 0 8px;
    height: 38px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 8px;

    border-radius: 12px;
    cursor: pointer;

    background-color: transparent;

    border: none;
    outline: none;
    box-shadow: none; 
}

.btn-neutro a{
    text-decoration: none;
    color: white;
}

.btn-default{
    background-color: #e6e5e3;
}

.btn-float-right{
    padding: 0 18px;
    margin-right: -20px;
}

.btn-default-dark{
    background-color: #2e2b41;
    color: white;
}

.btn-default-primary{
    background-color: #4c34f5;
    color: white;
}

.btn-default-primary:hover{
    background-color: rgb(76, 116, 248);
}

/*Search*/

.search-bar{
    top: 55px;
    right: 0;
    left: 0;
    position: fixed; 

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 8px;
    background-color: white;
}

.container-search{
    width: 60%;
}



.opcoes-infraestruturas{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: self-start;


    border-radius: 10px;
    border: 1px solid #e6e5e3;;
}

.opcoes-infraestruturas .opcoes-titulo{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 8px 8px 0 0;

    background-color: #e6e5e3;
}

.opcoes-infraestruturas .opcoes{
    margin-left: 20px;
}



/* CARD EVENTO*/

.container-card-evento{
    width: 250px;
    min-height: 250px;
    height: 200px;

    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;

    background-color: white;
    border-radius: 16px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.capa-card{
    width: 250px;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 16px 16px 0 0;
    background-color: #f9f9f9;
    box-sizing: content-box;
}

.container-header{
    width: 100%;
    height: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px;
    font-size: small;
}

.container-header span{
    color: #8b8792;
}

.container-card-evento h6{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
}

.card-botoes{
    min-width: 100%;
    min-height: 40px;   

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 10px;
}


.container-lista-eventos{
    width: 80%;
    min-width: 255px;
    height: auto;
    min-height: 40vh;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;

    margin-top: 60px;
    padding: 16px;
    gap: 16px;

    border: 1px solid #e6e5e3;
    background-color: #f9f9f9;
    border-radius: 32px;
}

.container-lista-eventos h4{
    box-sizing: content-box;

    border-radius: 14px 14px 0 0;
    background-color: #2e2b41;
    border: 1px solid #2e2b41;

    width: 100%;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


/* detalhes */


.container-detalhes{
    min-width: 500px;
    min-height: 400px;

    width: 70%;
    height: 600px;

    border-radius: 16px;

    gap: 32px;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.container-detalhes img{
    height: 300px;
    width: 400px;

    border-radius: 16px;
    object-fit: fill;
    background-color: #f9f9f9;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.container-informacoes{
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    padding: 16px;
    background-color: #f9f9f9;

    border-radius: 16px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.container-informacoes h5{
    color: #2e2b41;
}

.container-data{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin:10px 0;
    padding: 0 6px;
    background-color: #eeeff1;
    border-radius: 8px;
}

.container-conjunto{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.container-info{
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 8px;
    margin-top: 3px;
}

.container-informacoes div span{
    color: #8b8792;
}


#items-list{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#items-list li{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-left: -30px;

    gap: 8px;
}

#items-list h6{
    margin-left: -30px;
}